@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Italic.ttf);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

:root {
    --dark: #101A24;
    --dark-hover: #000000;
    --disabled: #6E6E6E;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

body {
    box-sizing: border-box;
    height: 100dvh;
    overflow: auto;
}